#game_img {
	max-width: 250px;
	max-height: 300px;
}

#img_container{
	border-radius: 10px;
	
	display: flex;
	align-items: center; 
	justify-content: center;
}



.col {
	margin-right: 20px;
}

#modal_header{
	background-color: #20232a;
	color: white;
}

#modal_body{
	background-color: #2a2c33;
	color: white;
}

#stats_panel{
	text-align: center;
	border-radius: 20px;
	background-color:#3a3d49 ;
	margin-left: 10px;
	margin-right: 10px;
}

.row {
	margin-bottom: 25px;
}

#review_container {
	overflow-x: auto;
  white-space: nowrap;
}