#game_img {
	width: 250px;
	height: 300px;
}
.col {
	margin-right: 20px;
}

#modal_header{
	background-color: #20232a;
	color: white;
}

#modal_body{
	background-color: #2a2c33;
	color: white;
}

#stats_panel{
	text-align: center;
	border-radius: 20px;
	background-color:#20273f ;
	margin-left: 10px;
	margin-right: 10px;
}

.row {
	margin-bottom: 25px;
}

#review_container {
	overflow-x: auto;
  white-space: nowrap;
}